act21/act21.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name= "acontecimiento">
   <xs:complexType>
       <xs:sequence>
           <xs:element name="hecho">
               <xs:complexType>
                   <xs:sequence>
                       <xs:element name="dia" type="xs:int"/>
                       <xs:element name="mes" type="xs:int"/>
                       <xs:element name="año" type="xs:int"/>
                   </xs:sequence>
               </xs:complexType>
           </xs:element>
       </xs:sequence>
   </xs:complexType>
</xs:element>
</xs:schema>